html{
  font-family: monospace, monospace;
}

body{
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
}

.link {
  color: black;
  margin: 1rem;
}

.link:hover {
  color: rgb(113, 106, 106);
  transition-duration: 300ms;
}

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
