html{
	font-family: Roboto, sans-serif;
}

body{
	text-align: center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button,
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none; }

.social-links {
  display: flex;
  justify-content: center;
}

.link {
  color: black;
  font-size: 30px;
  margin-left: 10px;
}

.link:hover {
  color: rgb(76, 71, 71);
  transition-duration: 300ms;
}

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
